.footer {
  @include flex(row, space-between, initial, center);
  @include size(85%, 5vh);
  margin: 1vh 0;
  &__title,
  &__media {
    font-size: 14px;
    font-weight: 300;
    color: rgba($light-gray, 0.5);
  }
  &__mail {
    color: rgba($light-gray, 0.8);
    font-weight: 700;
  }
}

.icon {
  margin: 0 5px;
  color: rgba($light-gray, 0.5);
  transition: 0.6s;
  &:hover {
    color: rgba($light-gray, 1);
  }
}
