.nav__list {
  @include flex(row, space-between);
  width: 70%;
  margin: 0 auto;
}

.nav__item {
  padding: 10px 0;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  color: $light-gray;
  opacity: 0.3;
  transition: 0.6s;
  position: relative;
  &:after {
    content: "";
    @include position(absolute, auto, 0, 0, 0);
    height: 1px;
    background-color: $light-gray;
    opacity: 0;
    transition: 0.6s;
    transform: translateY(15px);
  }
  &:hover {
    opacity: 1;
    &:after {
      opacity: 1;
      transform: translateY(8px);
    }
  }
}
