@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin position($position: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin flex($flex-direction: row, $justify-content: center, $align-content: initial, $align-items: initial) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-content: $align-content;
  align-items: $align-items;
}
